<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unity Error Predictor</title>
</head>
<body>
    <input type="text" id="directory-input" placeholder="Enter directory path...">
    <button id="start-btn">予測を開始</button>
    <button id="clear-btn">クリア</button>
    <button id="stop-btn">途中停止</button>

    <hr>
    <div id="status">待機中</div>
    <ul id="results-list"></ul>

    <script src="{{scriptUri}}"></script>
</body>
</html>